@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');


.shadows--1 {
    background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71, 0 0 60px #ff1f71;
 /* transition-duration: 300ms; */
}
.shadows--2 {
  background: #ff1f71;
box-shadow: 0 0 2.5px #ff1f71, 0 0 7px #ff1f71, 0 0 10px #ff1f71, 0 0 20px #ff1f71;
}

.text--1{
  font-family: 'Chakra Petch', sans-serif;
}